@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App-header {
  background-color: #12e69c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
#root {
  background-color: #e3e4db;
}

.navBar {
  background-color: #4e4747;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding-top: 2rem;
}


.right-side-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-between;
  margin-right: 5%;
  word-spacing: 50px;
}


ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}

ul li a:hover{
  color: rgb(86, 167, 211);
}

.active{
  /* text-decoration: underline; */
  color: rgb(86, 167, 211);
}

/* p {
  padding: 7px;
  text-align: justify; 
}

  .left{
  width: 45%;
  float: left; 
}

  .right{
  width: 45%;
  float: right; 
} */

/* .image{
  margin-left: 30%;
  padding-top: 30px;
  display: flex;
  border-radius: 50%;
  max-width: 50%;
  height: auto;
  width: auto;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
}


.footer {
  background-color: #4e4747;
  color: #fff;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
